<h1 style="margin-top: 200px;"><strong>{{userName}}</strong> rendelései</h1>

@if(alreadyOrdered){



<div class="container py-5">
    <div class="row">
        <div class="col-lg-8">
            <!--Rendelt elemek-->
            <div class="card mb-4">
                <div class="card-body">
                    @for(orderdata of ordersData; track orderdata.id) {
                        <div class="row cart-item mb-3">
                          <div class="col-md-3">
                            <img [src]="orderdata.image" class="card-img-top" alt="...">
                          </div>
                          <div class="col-md-5">
                            <h5 class="card-title">{{ orderdata.productName }}</h5>
                            <p class="text-muted">Kategória: {{ orderdata.category }}</p>
                          </div>
                          <div class="col-md-2">
                          </div>

                          <div class="col cart-item mb-3">
                                <p>Összesen: <strong>€{{ orderdata.total_price }}</strong></p>
                                <p>Megrendelt mennyiség: <strong>{{ orderdata.quantity }}</strong></p>
                                <p>Státusz: <strong>{{ orderdata.status }}</strong></p>
                            </div>
                          </div>


                        <hr>
                      }
                      
                </div>
            </div>
            <!-- Vissza a főoldalra  -->
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div class="text-start mb-4">
                    <a href="app.component.html" class="btn btn-outline-primary">
                        <i class="bi bi-arrow-left me-2"></i>Vásárlás folytatása
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

}

@if(notOrderedYet){
    <div>
        <h1>Még nem adtál le rendelést</h1>
    </div>
}