<nav class="navbar navbar-expand-lg navbar-light bg-white py-4 fixed-top">
    <div class="container">
      <a class="navbar-brand d-flex justify-content-between align-items-center order-lg-0" href="app.component.html">
        <i class="bi bi-bug-fill"></i>
        <!--<img src="images/bevasarlasikon.png" alt="bevasarloikon">-->
      <span class="text-uppercase fw-lighter ms-2">Bogárkám</span>
    </a>
    <div class="order-lg-2">

      @if(loggedIn){

      <button type="button" class="btn position-relative" [routerLink]="[{ outlets: { top: ['cart'] } }]" (click)="scrollToTop()">
        <i class="bi bi-basket3-fill"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge bg-primary">
          {{ cartItemCount }}
        </span>
      </button>
      <button type="button" class="btn position-relative">
        <i class="bi bi-heart-fill"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge bg-primary">2</span>
      </button>

    }
    <!--Keresőgomb mindig megjelenik-->
      <button type="button" class="btn position-relative dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-search"></i>
      </button>
      
      <div class="search-container dropdown-menu">
        <input type="text" class="form-control search-input" placeholder="Keresés...">
        <i class="fas fa-search search-icon"></i>

        <!--<div class="suggestions">
          <div class="suggestion-item">
            <i class="fas fa-history"></i>
            Wireless Headphones
        </div>
        </div>--> <!--<----- állandóan megjelenő keresési javaslat. -->

      </div>
    </div>
    <!--Keresőgomb vége-->

    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-lg-1" id="navMenu">
      <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item px-2 py-2">
          <a class="nav-link text-uppercase text-dark" href="#header" (click)="toggleProfile(false)">főoldal</a>
        </li>
        <li class="nav-item px-2 py-2">
          <a class="nav-link text-uppercase text-dark" href="#products" (click)="toggleProfile(false)">termékek</a>
        </li>
        <li class="nav-item px-2 py-2">
          <a class="nav-link text-uppercase text-dark" href="#aboutus" (click)="toggleProfile(false)">rólunk</a>
        </li>
        <li class="nav-item px-2 py-2">
          <a class="nav-link text-uppercase text-dark" href="#profil" (click)="toggleProfile(true)" (click)="scrollToTop()">profilom</a>
      </ul>
    </div>
    </div>

    @if(!loggedIn){

    <button type="button" class="btn btn-primary belepesgomb" [routerLink]="[{ outlets: { top: ['login'] } }]" (click)="scrollToTop()">
      Belépés
    </button>

  }

  @if(loggedIn){

    <h3><i class="bi bi-person-check-fill"></i></h3>
    <p class="ms-2">Bejelentkezve mint: <strong>{{ userName }}</strong></p>

  <button type="button" class="btn btn-primary ms-3 kilepesgomb" [routerLink]="[{ outlets: { top: ['logout'] } }]">
    Kilépés
  </button>

  }

    <!--nyelv választás dropdown menü KEZDETE-->
    <div class="btn-group dropdown-center">
      <button type="button" class="btn btn-light dropdown-toggle ms-3 me-3" data-bs-toggle="dropdown" aria-expanded="false">
        {{selectedLang}}
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#" (click)="changeWord('EN')">EN</a></li>
        <li><a class="dropdown-item" href="#" (click)="changeWord('HU')">HU</a></li>
      </ul>
    </div>
    
   <!--nyelv választás dropdown menü VÉGE-->
   <!-- <---- PopperJS volt szükséges hozzá, amit telepítettem -->

</nav>

<!--Login Component-->
<div class="content">
  
  <router-outlet name="top"></router-outlet>

  @if(showProfile){
  <app-profil id="profil"></app-profil>
  }

  @if(!showAdminPage){
    <app-header id="header"></app-header>
    <app-products id="products"></app-products>
    <app-aboutus id="aboutus"></app-aboutus>
    <app-footer id="footer"></app-footer>
  }@else {
    <router-outlet name="admin"></router-outlet> <!--(admin:adminsite)-->
  }

</div>

