.text-primary{
    color: var(--pink)!important;
}

/*hívószó*/
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    transform: translateY(-50%); /*Ez azt jelenti, hogy az elem teteje az adott konténer közepén kezdődik (de ez még nincs tökéletesen középen, mert az elem saját magassága is számít).*/
}

.active-filter-btn{
    background-color: var(--pink)!important;
    color: #fff!important;
    border-color: var(--pink)!important;
}

.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
/*hívószó vége*/