
<section id = "collection" class = "py-5">
    <div class="container">
      <div class="title text-center">
        <h2 class="position-relative d-inline-block">
          Újdonságaink
        </h2>
      </div>
  
      <div class="row">
        <div class="d-flex flex-wrap justify-content-center mt-5">
          <button type="button" class="btn m-2 text-dark" [class.active-filter-btn]="activeCategory === '*'" (click)="setActiveCategory('*')">Összes</button>
          <button type="button" class="btn m-2 text-dark" [class.active-filter-btn]="activeCategory === 'desserts'" (click)="setActiveCategory('desserts')">Desszert</button>
          <button type="button" class="btn m-2 text-dark" [class.active-filter-btn]="activeCategory === 'spices'" (click)="setActiveCategory('spices')">Fűszerek</button>
          <button type="button" class="btn m-2 text-dark" [class.active-filter-btn]="activeCategory === 'snack'" (click)="setActiveCategory('snack')">Snack</button>
          <button type="button" class="btn m-2 text-dark" [class.active-filter-btn]="activeCategory === 'other'" (click)="setActiveCategory('other')">Egyéb</button>
        </div>
  
        <div class="collection-list mt-4 row">


          <div class="card" style="width: 18rem;">
            <img src="images/jiminis1.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <div class="rating mt-3">
                <span class="text-primary"><i class="bi bi-star-fill"></i></span>
                <span class="text-primary"><i class="bi bi-star-fill"></i></span>
                <span class="text-primary"><i class="bi bi-star-fill"></i></span>
                <span class="text-primary"><i class="bi bi-star-fill"></i></span>
                <span class="text-primary"><i class="bi bi-star-fill"></i></span>
              </div>
              <p class="card-text text-capitalize my-1">Kurkumás Tücskök</p>
              <span class="fw-bold">2500 Ft</span>
            </div>
            <div class="d-flex justify-content-center">
              <button class="btn m-2 text-dark active-filter-btn">Kívánságlistára<i class="bi bi-suit-heart-fill"></i></button>
              <button class="btn m-2 text-dark active-filter-btn">Kosárba<i class="bi bi-basket"></i></button>
          </div>
          </div>


          @for(productProperty of productPropertyList; track productProperty.id){
            @if(activeCategory === '*' || productProperty.category === activeCategory){
          <div class="card mt-3 ms-3" style="width: 18rem;">
            <img src="images/jiminis5.jpg" class="card-img-top" alt="..."> <!--<---KÉP BETÖLTÉSE-->
            <div class="card-body text-center">
              <div class="rating mt-3">
                  @for(i of generateStarRange(productProperty.stars); track i){
                    <span class="text-primary"><i class="bi bi-star-fill"></i></span>
                  }
              </div>
              <p class="card-text text-capitalize my-1">{{productProperty.name}}</p>
              <span class="fw-bold">${{productProperty.price}}</span>
            </div>
            <div class="d-flex justify-content-center">
              <button class="btn m-2 text-dark active-filter-btn">Kívánságlistára<i class="bi bi-suit-heart-fill"></i></button>
              <button class="btn m-2 text-dark active-filter-btn" (click)="addToCart(productProperty)">Kosárba<i class="bi bi-basket"></i></button>
          </div>
          </div>
        }
      }
  
        </div>
      </div>
    </div>
  </section>


