@if(!loggedIn){

    <h1 class="ms-2">Belépés</h1>

    <form [formGroup]="loginForm" (submit)="login()" class="ms-2">

        <div class="form-group">
            <label for="login" class="form-label">Felhasználónév vagy email cím</label>
            <input type="text" id="login" formControlName="login" class="form-control">
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Jelszó</label>
            <input type="password" id="password" formControlName="password" class="form-control">
            <h6 class="mt-2">Az adataidat soha nem osztjuk meg mással</h6>
            <label>
                <input class = "mt-2" type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Emlékezz rám
            </label>

        </div>
        <div>
            <button type="submit" class="btn btn-primary mb-5">Belépés</button>
            <button type ="button" class="btn btn-secondary ms-2 mb-5" (click)="navigateToRegister()">
                Regisztráció
            </button>
        </div>
    </form>

}