<h1 style="margin-top: 200px;">SZUPERADMIN FELÜLET</h1>


<div class="ms-3 mt-3 position-relative">
    <!--<button  type="button" class="newUser btn btn-primary" data-bs-toggle="modal" data-bs-target="#superAdminModal" (click)="startAddAdmin()">
    <h2>Új admin hozzáadása</h2>
    </button>
  -->
    <div>
    <button type="button" class="backToAdmin btn btn-secondary btn-sm top-0 end-0 me-3"  (click)="backToAdmin()">
      <p>Vissza az adminfelületre</p>
      </button>
    </div>
</div>

<!--
  <div class="modal fade" id="superAdminModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Admin hozzáadása
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          

            <div>
                <div class="mb-3">
                  <label for="adminId" class="form-label">Id</label>
                  <input type="text" class="form-control" 
                  id="adminId" [(ngModel)]="adminId" readonly>
                </div>
                <div class="mb-3">
                  <label for="adminName" class="form-label">Admin neve</label>
                  <input type="text" class="form-control" 
                  id="adminName" [(ngModel)]="adminName">
                </div>
                <div class="mb-3">
                  <label for="adminEmail" class="form-label">Admin email címe</label>
                  <input type="text" class="form-control" 
                  id="adminEmail" [(ngModel)]="adminEmail">
                </div>
                <div class="mb-3">
                  <label for="adminPassword" class="form-label">Admin jelszava</label>
                  <input type="text" class="form-control" 
                  id="adminPassword" [(ngModel)]="adminPassword">
                </div>
            </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" 
          data-bs-dismiss="modal">Bezár</button>
          <button type="button" class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="saveAdmin()">Mentés</button>
        </div>
      </div>
    </div>
  </div> 
-->







  <!-- Modal -->
  <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ModalLabel">

          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <!---Modal ablak body-->
            <div>
                <div class="mb-3">
                  <label for="userId" class="form-label">Id</label>
                  <input type="text" class="form-control" 
                  id="userId" [(ngModel)]="userId" readonly>
                </div>
                <div class="mb-3">
                  <label for="userName" class="form-label">Felhasználó neve</label>
                  <input type="text" class="form-control" 
                  id="userName" [(ngModel)]="userName" readonly>
                </div>
                <div class="mb-3">
                  <label for="role" class="form-label">Szerep</label>
                  <select class="form-select" id="role" [(ngModel)]="role">
                    <option value="user">user</option>
                    <option value="admin">admin</option>
                  </select>
                </div>
            </div>




        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" 
          data-bs-dismiss="modal">Bezár</button>
          <button type="button" class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="updateUser()">Mentés</button>
        </div>
      </div>
    </div>
  </div>
            <!---Modal ablak body vége-->









            <!--Felhasználók-->
    <h3 class="ms-3 mt-3">Adatbázisban lévő felhasználók:</h3>

        <!--SEARCHBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAR-->
        <button type="button" class="btn position-relative dropdown-toggle ms-3" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-search"></i>
        </button>
        
        <div class="search-container dropdown-menu">
          <input type="text" class="form-control search-input" placeholder="Keresés..." [(ngModel)]="searchUserText" (ngModelChange)="onSearchChange()">
    
          <!--<div class="suggestions">
            <div class="suggestion-item">
              <i class="fas fa-history"></i>
              Wireless Headphones
          </div>
          </div>--> <!--<----- állandóan megjelenő keresési javaslat. -->
        </div>
        <!--VEGEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE-->

    <table class="table table-striped ms-3 mt-5">
        <thead>
            <tr>
                <th>Id</th>
                <th>Név</th>
                <th class="d-none d-md-table-cell">Email</th>
                <th class="d-none d-md-table-cell">Jelszó</th>
                <th>Szerep</th>
            </tr>
        </thead>
        <tbody>
            @for(user of userList; track user;){
              @if(user.name.toLowerCase().includes(searchQuery.toLowerCase())){
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td class="d-none d-md-table-cell">{{user.email}}</td>
                    <td class="d-none d-md-table-cell">{{user.password}}</td>
                    <td>{{user.role}}</td>
                    <td>
                      @if(!(user.role==='superadmin')){
                        <div class="d-flex align-items-center gap-2">


                        <button (click)="editUser(user)"
                        class="btn btn-primary"
                        data-bs-toggle="modal" data-bs-target="#editUserModal">
                        <i class="bi bi-pencil"></i>
                        </button>
    
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="active" [checked]="user.is_active" (change)="toggleUserActive(user)">
                          <label class="form-check-label" for="active">{{user.is_active ? 'Aktív' : 'Inaktív'}}</label>
                        </div>

                      </div>
                       <!--<button (click)="deleteUser(user.id)"
                        class="btn btn-danger ms-2">
                        <i class="bi bi-trash"></i>
                        </button> -->
                      }
                </td>
                </tr>
            }
          }
        </tbody>
    </table>
            <!--Felhasználók lekérése vége-->

