
@if(showProfile){



<div class="profileDiv justify-content-center align-items-center min-vh-100">

    <div class="container" style="max-width: 600px; width: 100%; z-index: 1; box-sizing: border-box;">
<h1 class="ms-2"><strong class="ms-2">{{ userName }}</strong> rendelési adatok </h1>
<form [formGroup]="userDataForm" class="ms-3 mt-3">

    <div class="form-group">
        <span class="input-group-text" style="max-width: 450px; background-color: #bbbbbb;">Felhasználónév</span>
        <input type="text" formControlName="name" class="form-control mb-4" readonly style="max-width: 450px;">
    </div>
<!--csak akkor adjuk hozzá az is-invalid osztályt hogyha a : utáni feltétel igaz. Vagyis hogy .invalid: nem ment át a Validáción és .touched már megérintette majd elhagyta.-->
<!--Tehát az is-invalid classt csak akkor adjuk hozzá, amikor ez a 2 feltétel teljesül.-->
<!--Ha még nem szerkesztették, vagy még nem értek hozzá, akkor mindkét feltétel false. Nem történik semmi.
<!-Nem kap is-invalid osztályt, tehát nincs piros keret-->
<!--Ha a felhasználó beleír egy betűt majd kilép a mezőből, akkor mindkettő true lesz, vagyis az input megkapja az is-invalid osztályt?-->
<!--A Bootstrap az is-invalid osztályt használja a hibás mezők stílusozására (piros keret, piros szöveg stb.).-->
<!--DIV -nél, IF-ben ugyanez, ugyanazok a feltételek, a szöveg miatt kell újra ellenőrizni-->
    <div class="form-group">
        <span class="input-group-text" style="max-width: 450px; background-color: #bbbbbb;">Keresztnév</span>
        <input type="text" formControlName="first_name" class="form-control mb-4"  style="max-width: 450px;"
            [ngClass]="{'is-invalid': userDataForm.controls['first_name'].invalid && userDataForm.controls['first_name'].touched}">
            @if(userDataForm.controls['first_name'].invalid && userDataForm.controls['first_name'].touched){
                <div class="invalid-feedback ms-1">
                    A keresztnév megadása kötelező!
                </div>
            }
        </div>

    <div class="form-group">
        <span class="input-group-text" style="max-width: 450px; background-color: #bbbbbb;">Vezetéknév</span>
        <input type="text" formControlName="last_name" class="form-control mb-4" style="max-width: 450px;"
        [ngClass]="{'is-invalid': userDataForm.controls['last_name'].invalid && userDataForm.controls['last_name'].touched}">
        @if(userDataForm.controls['last_name'].invalid && userDataForm.controls['last_name'].touched){
            <div class="invalid-feedback">
                A vezetéknév megadása kötelező
                </div>
        }
    </div>

    <div class="form-group">
        <span class="input-group-text" style="max-width: 450px; background-color: #bbbbbb;">Születési dátum</span>
        <input type="date" [min]="'1900-01-01'" [max]="'2100-12-31'" formControlName="birth_date" class="form-control mb-4" style="max-width: 450px;"
        [ngClass]="{'is-invalid': userDataForm.controls['birth_date'].invalid && userDataForm.controls['birth_date'].touched}">
        @if (userDataForm.controls['birth_date'].invalid && userDataForm.controls['birth_date'].touched) {
            <div class="invalid-feedback">
                A születési dátum megadása kötelező
            </div>
        }
    </div>

    <div class="form-group">
        <span class="input-group-text" style="max-width: 450px; background-color: #bbbbbb;">Telefonszám (+36)</span>
        <input type="tel" formControlName="phone_number" class="form-control mb-4" style="max-width: 450px;"
        [ngClass]="{'is-invalid': userDataForm.controls['phone_number'].invalid && userDataForm.controls['phone_number'].touched}">
        @if(userDataForm.controls['phone_number'].invalid && userDataForm.controls['phone_number'].touched){
            <div class="invalid-feedback">
                Telefonszám megadása kötelező
            </div>
        }
    </div>

    <div class="form-group">
        <span class="input-group-text" style="max-width: 450px; background-color: #bbbbbb;">irányítószám</span>
        <input type="number" formControlName="postal_code" class="form-control mb-4" style="max-width: 450px;"
        [ngClass]="{'is-invalid': userDataForm.controls['postal_code'].invalid && userDataForm.controls['postal_code'].touched}">
        @if(userDataForm.controls['postal_code'].invalid && userDataForm.controls['postal_code'].touched){
            <div class="invalid-feedback">
                Irányítószám megadása kötelező
            </div>
        }
    </div>

    <div class="form-group">
        <span class="input-group-text" style="max-width: 450px; background-color: #bbbbbb;">Város</span>
        <input type="text" formControlName="city" class="form-control mb-4" style="max-width: 450px;"
        [ngClass]="{'is-invalid': userDataForm.controls['city'].invalid && userDataForm.controls['city'].touched}">
        @if (userDataForm.controls['city'].invalid && userDataForm.controls['city'].touched) {
            <div class="invalid-feedback">
                Város megadása kötelező
            </div>
        }
    </div>

    <div class="form-group">
        <span class="input-group-text" style="max-width: 450px; background-color: #bbbbbb;">Közterület neve / jellege (pl. Üllői út)</span>
        <input type="text" formControlName="street" class="form-control mb-4" style="max-width: 450px;"
        [ngClass]="{'is-invalid': userDataForm.controls['street'].invalid && userDataForm.controls['street'].touched}">
        @if (userDataForm.controls['street'].invalid && userDataForm.controls['street'].touched) {
            <div class="invalid-feedback">
                Közterület megadása kötelező
            </div>
        }
    </div>

    <div class="form-group">
        <span class="input-group-text" style="max-width: 450px; background-color: #bbbbbb;">Házszám</span>
        <input type="text" formControlName="house_number" class="form-control mb-4" style="max-width: 450px;"
        [ngClass]="{'is-invalid': userDataForm.controls['house_number'].invalid && userDataForm.controls['house_number'].touched}">
        @if (userDataForm.controls['house_number'].invalid && userDataForm.controls['house_number'].touched) {
            <div class="invalid-feedback">
                Házszám megadása kötelező
            </div>
        }
    </div>
    <div class="form-group">
        <span class="input-group-text" style="max-width: 450px; background-color: #bbbbbb;">Emelet</span>
        <input type="text" formControlName="floor" class="form-control mb-4" style="max-width: 450px;">
    </div>

    <div class="form-group">
        <span class="input-group-text" style="max-width: 450px; background-color: #bbbbbb;">Ajtó</span>
        <input type="text" formControlName="door" class="form-control mb-4" style="max-width: 450px;">
    </div>

    <div class="form-group">
        <span class="input-group-text" style="max-width: 450px; background-color: #bbbbbb;">E-mail</span>
        <input type="email" formControlName="email" class="form-control mb-4" style="max-width: 450px;">
    </div>

    <div class="d-flex">
        <button class="btn btn-primary mb-2 ms-1 mentesgomb" [disabled]="userDataForm.invalid" (click)="saveData()">
            Mentés
        </button>

        <button class="btn btn-secondary mb-2 ms-1"  (click)="toggleProfile(false); navigateToChangePassword(); scrollToTop();">
            Jelszó megváltoztatása
        </button>
    </div>
    
</form>

@if(successfullProfilDataChanged){
    <div class="d-flex mt-3 justify-content-center">
        <h1 class="ms-between ms-3">Sikeresen megváltoztattad az adataidat</h1>
        <img src="images/registerSuccessful.png" alt="Sikeres módosítás ikon" class="ms-2" style="width: 50px; height: 50px;">
    </div>
}

@if(errorProfilDataChanged){
    <div class="d-flex mt-3 justify-content-center ms-3 mb-3" [ngClass]="{'error-card': showErrorCard}">
            <strong [innerHTML]="errorMessageFromBackend" id="errorMessageFromBackend" class="mt-2"></strong>
    </div>
}

</div>
</div>


}