<h1 style="margin-top: 180px;">Admin felület</h1>

<button class="btn btn-secondary ms-3" (click)="navigateToSuperadminsite()">
    <h2 class="ms-3">Felhasználók kezelése...</h2>
</button> <br>
<button class="mt-3 btn btn-secondary ms-3" (click)="toggleTable(); hiddenOrderTable();">
    <h2 class="ms-3">Termékek kezelése...</h2>
</button> <br>
<button class="mt-3 btn btn-secondary ms-3" (click)="toggleOrderTable(); hiddenUserTable();">
  <h2 class="ms-3">Rendelések kezelése...</h2>
</button>
@if(AdminError){
<h1 class="ms-3 mt-3">Nem vagy szuperadmin! Nincs jogosultságod felhasználókat kezelni!</h1>
}

@if(showOrderTable){
  
  
  
  <!-- Modal -->
  <div class="modal fade" id="operationModal2" tabindex="-1" aria-labelledby="
  ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <!---Modal ablak body-->
            <div>
                <div class="mb-3">
                  <label for="orderId" class="form-label">Rendelés ID</label>
                  <input type="text" class="form-control" 
                  id="orderId" [(ngModel)]="orderId" readonly>
                </div>
                <div class="mb-3">
                  <label for="order_user_name" class="form-label">Felhasználónév</label>
                  <input type="text" class="form-control" 
                  id="order_user_name" [(ngModel)]="order_user_name" readonly>
                </div>
                <div class="mb-3">
                  <label for="category" class="form-label">Státusz</label>
                  <select class="form-select" id="status" [(ngModel)]="status">
                    <option value="mealworm">Pending</option>
                    <option value="cricket">Processing</option>
                    <option value="grasshopper">Shipped</option>
                    <option value="dessert">Completed</option>
                    <option value="other">Cancelled</option>
                  </select>
                </div>

                <div class="mb-3">
                  <label for="orderedProduct" class="form-label">Megrendelt termékek</label>
                  @for(orderedProduct of orderedProducts; track orderedProduct.id){

                      <p>
                        Termék neve: {{orderedProduct.product.name}} <br>
                        Termék ára: {{orderedProduct.product.price}} <br>
                        
                        @for(userOrderedData of userOrderedDatas; track userOrderedData){
                        Email cím: {{userOrderedData.email}} <br>
                        Keresztnév: {{userOrderedData.first_name}} <br>
                        Vezetéknév: {{userOrderedData.last_name}} <br>
                        Születési dátum: {{userOrderedData.birth_date}} <br>
                        Telefonszám: {{userOrderedData.phone_number}} <br>
                        Irányítószám: {{userOrderedData.postal_code}} <br>
                        Város: {{userOrderedData.city}} <br>
                        Utca: {{userOrderedData.street}} <br>
                        Házszám: {{userOrderedData.house_number}} <br>
                        Emelet: {{userOrderedData.floor}} <br>
                        Ajtó: {{userOrderedData.door}}
                      }
                      </p>
                    }

                  
                  </div>
                  


                  <div class="mb-3">
                    <label for="description" class="form-label">Rendelés dátuma: </label> 
                    <p>{{ orderDate }}</p>
                  </div>
            </div>




        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" 
          data-bs-dismiss="modal">Bezár</button>
          <button type="button" class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="saveProduct()">Mentés</button>
        </div>
      </div>
    </div>
  </div>
            <!---Modal ablak body vége-->








  <h3 class="ms-3 mt-3">Adatbázisban lévő rendelések:</h3>

  <!--SEARCHBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAR-->
  <button type="button" class="btn position-relative dropdown-toggle ms-3" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-search"></i>
  </button>
  
  <div class="search-container dropdown-menu">
    <input type="text" class="form-control search-input" placeholder="Keresés..." [(ngModel)]="searchProductText" (ngModelChange)="onSearchChange()">
  
  </div>
  <!--VEGEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE-->

  <table class="table table-striped ms-3 mt-5">
      <thead>
          <tr>
              <th>Id</th>
              <th>Felhasználónév</th>
              <th>Végösszeg</th>
              <th>Státusz</th>
              <th>Részletek</th>
              <th>Törlés</th>
          </tr>
      </thead>
      <tbody>
          @for(order of orderList; track order.id){

            
              <tr>
                  <td>{{order.id}}</td>
                  <td>{{order.user.name}}</td>
                  <td>{{order.total_price}}</td>
                  <td>{{order.status}}</td>
                  <td>
                  <button (click)="editOrderStatus(order)"
                  class="btn btn-primary"
                  data-bs-toggle="modal" data-bs-target="#operationModal2">
                  <i class="bi bi-pencil"></i>
                  </button>
                </td>
                <td>
                  <button (click)="deleteOrder(order.id)"
                  class="btn btn-danger ms-2">
                  <i class="bi bi-trash"></i>
                  </button>
                </td>

              
              </tr>
          
        }
      </tbody>
  </table>
          <!--Termékek lekérése vége-->






















}

@if(showTable){
    <div class="ms-3 mt-3">
    <button  type="button" class="newProduct btn btn-primary" data-bs-toggle="modal" data-bs-target="#operationModal" (click)="startAdd()">
    <h2>Új termék hozzáadása</h2>
    </button>
</div>


  <!-- Modal -->
  <div class="modal fade" id="operationModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ModalLabel">
            @if(editMode) {
              Szerkesztés
            }@else{
              Hozzáadás
            }

          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <!---Modal ablak body-->
            <div>
                <div class="mb-3">
                  <label for="id" class="form-label">Id</label>
                  <input type="text" class="form-control" 
                  id="id" [(ngModel)]="id" readonly>
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Termék neve</label>
                  <input type="text" class="form-control" 
                  id="name" [(ngModel)]="name">
                </div>
                <div class="mb-3">
                  <label for="category" class="form-label">Kategória</label>
                  <select class="form-select" id="category" [(ngModel)]="category">
                    <option value="mealworm">Lisztkukac</option>
                    <option value="cricket">Tücskök</option>
                    <option value="grasshopper">Szöcskék</option>
                    <option value="dessert">Desszert</option>
                    <option value="other">Egyéb</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label">Termék leírása</label>
                  <input type="text" class="form-control" 
                  id="description" [(ngModel)]="description">
                </div>
                <div class="mb-3">
                  <label for="price" class="form-label">Termék ára</label>
                  <input type="text" class="form-control" 
                  id="price" [(ngModel)]="price">
                </div>
                <div class="mb-3">
                  <label for="stars" class="form-label">Termék értékelése (0-5)</label>
                  <select class="form-select" id="stars" [(ngModel)]="stars">
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                    <option value="0">0</option>
                  </select>
                </div>
                <div>
                  <div class="mb-3">
                    <label for="stock" class="form-label">Készlet</label>
                    <input type="text" class="form-control"
                    id="stock" [(ngModel)]="stock">
                  </div>
              </div>
              <div>
                <div class="mb-3">
                  <label for="image" class="form-label">Kép URL</label>
                  <input type="text" class="form-control"
                  id="image" [(ngModel)]="image">
                </div>
            </div>
            </div>




        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" 
          data-bs-dismiss="modal">Bezár</button>
          <button type="button" class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="saveProduct()">Mentés</button>
        </div>
      </div>
    </div>
  </div>
            <!---Modal ablak body vége-->

            <!--Termékek lekérése-->
    <h3 class="ms-3 mt-3">Adatbázisban lévő termékek:</h3>

    <!--SEARCHBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAR-->
    <button type="button" class="btn position-relative dropdown-toggle ms-3" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-search"></i>
    </button>
    
    <div class="search-container dropdown-menu">
      <input type="text" class="form-control search-input" placeholder="Keresés..." [(ngModel)]="searchProductText" (ngModelChange)="onSearchChange()">

      <!--<div class="suggestions">
        <div class="suggestion-item">
          <i class="fas fa-history"></i>
          Wireless Headphones
      </div>
      </div>--> <!--<----- állandóan megjelenő keresési javaslat. -->
    </div>
    <!--VEGEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE-->

    <table class="table table-striped ms-3 mt-5">
        <thead>
            <tr>
                <th>Id</th>
                <th>Megnevezés</th>
                <th>Ár</th>
                <th class="d-none d-md-table-cell">Kategória</th>
                <th>Készlet</th>
                <th class="d-none d-md-table-cell">Értékelés</th>
            </tr>
        </thead>
        <tbody>
            @for(product of productList; track product.id){
              @if(product.name.toLowerCase().includes(searchQuery.toLowerCase())){

              
                <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td class="d-none d-md-table-cell">{{product.category}}</td>
                    <td>{{product.stock}}</td>
                    <td class="d-none d-md-table-cell">{{product.stars}}</td>
                    <td>
                    <button (click)="editProduct(product)"
                    class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#operationModal">
                    <i class="bi bi-pencil"></i>
                    </button>

                    <button (click)="deleteProduct(product.id)"
                    class="btn btn-danger ms-2">
                    <i class="bi bi-trash"></i>
                    </button>
                </td>
                </tr>
            }
          }
        </tbody>
    </table>
            <!--Termékek lekérése vége-->
}