#errorMessageFromBackend {
font-weight: bold;
color: #ff0000;
}

.successfull-card{
  border: 1px solid green;
  padding: 5px;
  border-radius: 8px;
  max-width: 300px;
  color: green;
}

.row.cart-item .col-md-2.text-end p {
  margin-right: 20px !important;
}