<section id="about" class="py-5">
    <div class="container">
        <div class="row gy-lg-5 align-items-center text-lg-start">
            
            <div class="col-lg-6 order-lg-1 text-center">
                <div class="title pt-3 pb-5">
                    <h2 class="position-relative d-inline-block ms-4">
                        Rólunk
                    </h2>
                </div>

                <div>
                <p style="text-align: justify;">
                    Hiszünk abban, hogy a gasztronómia határok nélküli kaland, ahol az új ízek felfedezése nemcsak izgalmas, hanem fenntartható is. Célunk, hogy minél több emberhez eljuttassuk az ízesített bogarak különleges világát – egészséges, fehérjében gazdag és környezetbarát alternatívát kínálva a hagyományos ételek mellett.
                    Merj kilépni a megszokottból, és fedezd fel a ropogós, fűszeres vagy éppen édes variációkat, amelyek garantáltan meglepetést okoznak! Engedd, hogy megváltozzon a jövőről és az ételekről alkotott képed – egy falat után már te is másként fogsz tekinteni erre a kulináris élményre!
                    Terveink között szerepel új ízesítések kifejlesztése, amelyek a legkülönbözőbb gasztronómiai igényeket is kielégítik. Szeretnénk megmutatni, hogy a rovarok nemcsak táplálóak és környezetbarátak, hanem rendkívül sokoldalúak is, és számtalan kreatív módon felhasználhatók a konyhában.
                    Csatlakozz hozzánk, és légy részese az ízek forradalmának!</p>
                </div>
                    

                        <div>
                        <p style="text-align: justify;">
                            <strong>Miért érdemes kipróbálnod az ehető rovarokat? </strong><br>
                            ✅ Magas fehérjetartalom – A rovarok természetes szuperélelmiszerek, tele esszenciális aminosavakkal. <br>
                            ✅ Fenntartható választás – A rovarok termesztése kevesebb vizet és földterületet igényel, így környezetbarát alternatívát nyújtanak. <br>
                            ✅ Sokoldalú felhasználás – Használhatod őket snackként, salátákhoz, tésztákhoz vagy akár süteményekhez is! <br>
                            Csatlakozz a fenntartható táplálkozás forradalmához! <br>
                            Merülj el az ehető rovarok világában, és fedezd fel, milyen izgalmas ízeket és textúrákat kínálnak. Ha nyitott vagy az újdonságokra, garantáltan meglep majd, mennyire finomak és táplálóak lehetnek! <br>
                            Rendelj most, és próbáld ki saját magad! <br>
                            </p>
                        </div>

                        <div>
                            <p style="text-align: justify;">
                                <strong>Fedezd fel a kínálatunkat:</strong> <br>
                                💚 Fűszeres sült tücskök – tökéletes snack filmnézéshez vagy kiránduláshoz <br>
                                💚 Csokiba mártott lisztkukacok – édesszájúaknak kihagyhatatlan! <br>
                                💚 Rovarfehérjés tészta – könnyen beilleszthető a mindennapi étrendbe <br>
                                💚 Rovar alapú lisztek: Ideálisak kenyerek, sütemények és palacsinták készítéséhez, extra fehérjetartalommal. <br>
                                💚 Protein szeletek: Egészséges, energiával teli snackek útközben. <br>
                                💚 Ropogós snackek: Fűszerezett, ropogós finomságok, amelyek tökéletesek esti nassoláshoz vagy partira. <br>
                                💬 Már kóstoltad? Oszd meg velünk a véleményed! <br>
                                💚Küldd el tapasztalataidat, és segíts másoknak is megismerni ezt a különleges világot! <br>
                                Ne maradj le, rendelj most, és fedezd fel, milyen izgalmas lehet a fenntartható gasztronómia!

                        </p>
                    </div>
                    
                    <!-- <p>🍽️Fedezd fel az ízletes rovarok világát!✨<br>
                        Egészséges, fenntartható és ínycsiklandó! Webshopunkban különleges ehető bogarakat is kínálunk, amelyek tele vannak fehérjével, viatminokkal és ásványi anyagokkal. 
                        Dobd fel az étrendedet természetes, ropogós falatokkal - legyen szó snackről, főzésről vagy akár gasztronómiai különlegességekről!s
                            Kóstolj bele a természet egyik legértékesebb fehérjeforrásába, és tedd változatosabbá az étrendedet könnyen fogyasztható, tápláló és környezetbarát falatokkal!
                            Akár egy különleges snackre vágysz, akár új alapanyagokat keresel a kreatív főzéshez, nálunk biztosan megtalálod a tökéletes választást. Merj kísérletezni, és engedd, hogy egy teljesen új gasztronómiai élmény táruljon eléd! 🦗✨
                        </p> -->
            </div>

            <div class="col-lg-6 order-lg-0">
                <div style="display: flex; flex-direction: column; align-items:  flex-start; margin-top: 100px;">
                <img src="images/aboutus1.jpg" alt="" class="img-fluid">
            </div>
            <div>
                <img src="images/aboutus.jpg" alt="" class="img-fluid">
            </div>
            <div>
                <img src="images/jiminismain.webp" alt="" class="img-fluid">
            </div>
        </div>

        </div>
    </div>

</section>



