<section id="about" class="py-5">
    <div class="container">
        <div class="row gy-lg-5 align-items-center text-lg-start">
            <div class="col-lg-6 order-lg-1 text-center">
                <div class="title pt-3 pb-5">
                    <h2 class="position-relative d-inline-block ms-4">
                        Rólunk
                    </h2>
                </div>
                <p class="lead text-muted">🍽️Fedezd fel az ízletes rovarok világát!✨<br>
                Egészséges, fenntartható és ínycsiklandó! Webshopunkban különleges ehető bogarakat is kínálunk, amelyek tele vannak fehérjével, viatminokkal és ásványi anyagokkal. Dobd fel az étrendedet természetes, ropogós falatokkal - legyen szó snackről, főzésről vagy akár gasztronómiai különlegességekről!🦗✨</p>

                    

                    <p>🔥Kóstolj bele az élménybe: Próbáld ki kezdőcsomagjainkat most 20% kedvezménnyel!</p>

                    <p>🌎Fenntarthatóság - Egészség - Egyedi ízélmények! Ráadásul gyors szállítással és elégedettségi garanciával várunk!</p>

                    <p>Hiszünk abban, hogy a gasztronómia határok nélküli kaland, ahol az új ízek felfedezése nemcsak izgalmas, hanem fenntartható is. Célunk, hogy minél több emberhez eljuttassuk az ízesített bogarak különleges világát – egészséges, fehérjében gazdag és környezetbarát alternatívát kínálva a hagyományos ételek mellett.
                    
                    Merj kilépni a megszokottból, és fedezd fel a ropogós, fűszeres vagy éppen édes variációkat, amelyek garantáltan meglepetést okoznak! Engedd, hogy megváltozzon a jövőről és az ételekről alkotott képed – egy falat után már te is másként fogsz tekinteni erre a kulináris élményre!
                    
                    Csatlakozz hozzánk, és légy részese az ízek forradalmának! 🍽️✨</p>
            </div>
            <div class="col-lg-6 order-lg-0">
                <img src="images/aboutus1.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>

</section>